<div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Der ESP8266 ist sehr beliebt bei Projekten die WiFi benötigen.</p>
</div>
<div class="paragraph">
<p>Kann von hier bezogen werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.reichelt.de/nodemcu-esp8266-wifi-modul-debo-jt-esp8266-p219900.html?&amp;trstct=pos_0&amp;nbc=1">Reichelt - ESP8266</a></p>
</li>
</ul>
</div>
</div>
</div>