<div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>WS2812 haben viele Vorteile</p>
</div>
<div class="ulist">
<ul>
<li>
<p>einzeln adressierbar</p>
</li>
<li>
<p>dimmbar ohne Zusatzhardware ( N-MOSFET )</p>
</li>
<li>
<p>mehrfarbig</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Kann von hier bezogen werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.amazon.de/gp/product/B09LTRYFRF/ref=ppx_yo_dt_b_asin_title_o03_s00?ie=UTF8&amp;psc=1">Amazon - WS2812b Led Strip, 1m 144LEDs</a></p>
</li>
</ul>
</div>
</div>
</div>