<div class="sect1">
<h2 id="_testen_von_filamenten">Testen von Filamenten</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_aus_dem_leben">Aus dem Leben</h3>
<div class="paragraph">
<p>Manchmal bekommt man bei Filamenten wiedersprüchliche Angaben. Ein Beispiel aus einem shop:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="/img/3DDruck/petg_filament_detail.jpg" alt="petg filament detail">
</div>
</div>
<div class="paragraph">
<p>und dann klickt man sich durch die Bilder des Filaments und bekommt folgende Angaben &#8230;&#8203;</p>
</div>
<div class="imageblock">
<div class="content">
<img src="/img/3DDruck/petg_filament_picture.jpg" alt="petg filament picture">
</div>
</div>
<div class="paragraph">
<p>okay, was ist jetzt hier die richtige Angabe ? ( Spoiler: das Bild )</p>
</div>
</div>
<div class="sect2">
<h3 id="_ausprobieren">Ausprobieren</h3>
<div class="paragraph">
<p>Eine gute Idee ist es, eine neue Filamentrolle von einem Hersteller mal zu testen. Hierfür verwende ich meinen Kalibrierwürfel, fange bei einer Grund-Temperatur an und erhöhe nach 30% die Temperatur.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="/img/3DDruck/petg_midori_temp_190-200.jpg" alt="petg midori temp 190 200" height="480">
</div>
<div class="title">Figure 1. Zu wenig Temperatur.. und es löst sich vom Druckbett</div>
</div>
<div class="imageblock">
<div class="content">
<img src="/img/3DDruck/petg_midori_temp_215-235.jpg" alt="petg midori temp 215 235" height="480">
</div>
<div class="title">Figure 2. In diesem Bereich schaut der Druck ganz gut aus</div>
</div>
<div class="imageblock">
<div class="content">
<img src="/img/3DDruck/petg_midori_temp_230-250.jpg" alt="petg midori temp 230 250" height="480">
</div>
<div class="title">Figure 3. Ab 240° wird die Oberfläche rau.. zu viel Temperatur für dieses Filament</div>
</div>
<div class="imageblock">
<div class="content">
<img src="/img/3DDruck/petg_midori_oberteil.jpg" alt="petg midori oberteil">
</div>
<div class="title">Figure 4. Auch bei zu viel Temperatur, entstehen Fäden und die Oberfläche sieht nicht so gut aus</div>
</div>
<div class="paragraph">
<p>.</p>
</div>
</div>
</div>
</div>