<div class="sect1">
<h2 id="_worum_gehts">Worum gehts</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eigentlich alles, ich beschäftige mich gern mit Technologie, Softwareentwicklung und segeln.</p>
</div>
<div class="paragraph">
<p>Initial sind folgende Dinge für diese Seite geplant:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Blog:</p>
</li>
<li>
<p>Alles was mir so ab und zu auf fällt</p>
</li>
<li>
<p>Aktualisierungen</p>
</li>
<li>
<p>Projekte:</p>
</li>
<li>
<p>Seite für all meine Projekte</p>
</li>
<li>
<p>Hier stell ich meine Projekte vor, anders als im Blog, werden diese immer aktualisiert</p>
</li>
<li>
<p>Hauptsächlich dafür, das ich mich erinnern kann wie ich was gebaut habe 😅</p>
</li>
<li>
<p>Hacks</p>
</li>
<li>
<p>Nützliche kleinigkeiten</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="_fußnote_lizenzen">Fußnote - Lizenzen:</h3>
<div class="ulist">
<ul>
<li>
<p>"Under Construction Grunge Sign" by Free Grunge Textures - www.freestock.ca is licensed with CC BY 2.0. To view a copy of this license, visit <a href="https://creativecommons.org/licenses/by/2.0/" class="bare">https://creativecommons.org/licenses/by/2.0/</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>