<div class="sect1">
<h2 id="_tldr">TLDR</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Prüft die Geschwindigkeit euer USB-C Kabel, damit diese mit dem Pi4 funktionieren.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_long_story_short">Long Story Short</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei dem Versuch, NixOS auf ein USB-C basierte M2 zu installieren und ein RaspberryPi4 davon booten zu lassen, bin ich fast verzweifelt &#8230;&#8203; warum bootet dieses PI nicht.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="/img/PiBootBadUSBC.png" alt="PiBootBadUSBC">
</div>
</div>
<div class="paragraph">
<p>Hier ist sichtbar, dass der USB-MSD ( <a href="https://www.raspberrypi.com/documentation/computers/raspberry-pi.html#BOOT_ORDER">mode f41</a> ) aktiv ist und ich weiß, dass USB Boot in der Vergangenheit auf diesem PI funktionierte&#8230;&#8203; 😡</p>
</div>
<div class="paragraph">
<p>Nach schreiben von unterschiedlichen rasoberry-images auf die M2, reagierte das PI auf keines der Images, aus lauter Verzweiflung habe ich ein anderes USB-C Kabel probiert.. und siehe da, der Pi bootet 🤪</p>
</div>
<div class="sect2">
<h3 id="_wie_bekommt_man_jetzt_raus_welches_kabel_das_richtige_ist">Wie bekommt man jetzt raus, welches Kabel das richtige ist.</h3>
<div class="paragraph">
<p>Nach etwas austesten sieht es folgendermaßen aus:</p>
</div>
<div class="sect3">
<h4 id="_ein_schlechtes_usb_c_kabel_meldet_die_optimal_transfer_size_nicht">Ein "schlechtes" USB-C kabel meldet die "optimal transfer size" nicht</h4>
<div class="paragraph">
<p>INFO: Ich habe das nur mit einem USB-C M.2-Gehäuse mit verbauter M2 getestet. Ich werde es später noch mit Festplatten/SSDs testen.</p>
</div>
<div class="paragraph">
<p>Ausgabe von dmesg des "schlechten" Kabels:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="/img/USB3-BadDmesg.png" alt="USB3 BadDmesg">
</div>
</div>
<div class="paragraph">
<p>Ausgabe von dmesg des "guten" Kabels:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="/img/USB3-GoodDmesg.png" alt="USB3 GoodDmesg">
</div>
</div>
<div class="paragraph">
<p>Wie man sieht wird hier die "optimal transfer size" gemeldet.</p>
</div>
</div>
<div class="sect3">
<h4 id="_ein_schlechtes_usb_c_kabel_ist_langsamer">Ein "schlechtes" USB-C Kabel ist langsamer</h4>
<div class="paragraph">
<p>Beim testen der Transferrate merkt man, das ein "schlechtes" USB-C-Kabel ziemlich langsam ist:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="/img/USB3-BadCable.png" alt="USB3 BadCable">
</div>
</div>
<div class="paragraph">
<p>Knappe 40MB/s &#8230;&#8203; echt langsam\
\
Und so sieht ein "gutes" Kabel aus:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="/img/USB3-GoodCable.png" alt="USB3 GoodCable">
</div>
</div>
<div class="paragraph">
<p>Alles klar, ich hab das richtige Kabel gefunden. 👍</p>
</div>
</div>
</div>
</div>
</div>