<div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Warum einen Nix-Channel erstellen ? Alles beginnt immer mit einem Problem.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_problem">Problem</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite wird semi-automatisch auf einen Server ausgerollt.
Dies geschah in zwei schritten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Update der Seite an sich und commit + push <a href="https://gitlab.com/nerdhaltig/homepage">[gitlab repo</a></p>
</li>
<li>
<p>Erfassen des neuen githash und eintragen in die nix-expression des servers <a href="https://gitlab.com/nerdhaltig/server">gitlab repo</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Das deployment der Seite auf den Server wurde durch nix über die Funktion <code>fetchGit</code> erledigt. Hier wird quasi das repo der Homepage ausgecheckt und die homepage gebaut.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight highlight-prismjs prismjs language-haskell"><code class="language-haskell" data-lang="haskell"><span class="token punctuation">{</span> <span class="token hvariable">config</span><span class="token punctuation">,</span> <span class="token hvariable">pkgs</span><span class="token punctuation">,</span> <span class="token hvariable">lib</span><span class="token punctuation">,</span> <span class="token operator">...</span> <span class="token punctuation">}</span><span class="token operator">:</span>
<span class="token keyword">let</span>

  <span class="token operator">#</span> <span class="token hvariable">get</span> <span class="token hvariable">the</span> <span class="token hvariable">homepage</span> <span class="token hvariable">repo</span>
  <span class="token hvariable">src</span> <span class="token operator">=</span> <span class="token hvariable">builtins</span><span class="token punctuation">.</span><span class="token hvariable">fetchGit</span> <span class="token punctuation">{</span>
    <span class="token hvariable">url</span> <span class="token operator">=</span> <span class="token string">"https://gitlab.com/nerdhaltig/homepage.git"</span><span class="token punctuation">;</span>
    <span class="token hvariable">ref</span> <span class="token operator">=</span> <span class="token string">"main"</span><span class="token punctuation">;</span>
    <span class="token hvariable">rev</span> <span class="token operator">=</span> <span class="token string">"ace415c444507f5a864b66d326175d2ce19ab9bc"</span><span class="token punctuation">;</span>
  <span class="token punctuation">}</span><span class="token punctuation">;</span>

  <span class="token operator">#</span> <span class="token hvariable">import</span> <span class="token hvariable">default</span><span class="token punctuation">.</span><span class="token hvariable">nix</span> <span class="token hvariable">from</span> <span class="token hvariable">the</span> <span class="token hvariable">git</span><span class="token operator">-</span><span class="token hvariable">repo</span>
  <span class="token hvariable">nerdhaltig</span> <span class="token operator">=</span> <span class="token hvariable">import</span> <span class="token punctuation">(</span><span class="token hvariable">src</span><span class="token punctuation">)</span> <span class="token punctuation">{</span> <span class="token punctuation">}</span><span class="token punctuation">;</span>

<span class="token keyword">in</span>
<span class="token punctuation">{</span>

  <span class="token hvariable">imports</span> <span class="token operator">=</span> <span class="token punctuation">[</span> <span class="token hvariable">nerdhaltig</span><span class="token punctuation">.</span><span class="token keyword">module</span> <span class="token punctuation">]</span><span class="token punctuation">;</span>

  <span class="token hvariable">services</span><span class="token punctuation">.</span><span class="token hvariable">homepages</span><span class="token punctuation">.</span><span class="token hvariable">nerdhaltig</span> <span class="token operator">=</span> <span class="token punctuation">{</span>
    <span class="token hvariable">enable</span> <span class="token operator">=</span> <span class="token hvariable">true</span><span class="token punctuation">;</span>
    <span class="token hvariable">package</span> <span class="token operator">=</span> <span class="token hvariable">nerdhaltig</span><span class="token punctuation">.</span><span class="token hvariable">public</span><span class="token punctuation">;</span>
    <span class="token hvariable">domain</span> <span class="token operator">=</span> <span class="token string">"nerdhaltig.de"</span><span class="token punctuation">;</span>
  <span class="token punctuation">}</span><span class="token punctuation">;</span>

<span class="token punctuation">}</span></code></pre>
</div>
</div>
<div class="paragraph">
<p>Mit der Zeit wurde es nervig immer commits in beiden repos zu machen wenn sich etwas ändert, also habe ich, ganz nach programmierer manier, nicht aufgegeben und eine andere Lösung gesucht.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_etwas_tiefer_graben">Etwas tiefer graben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Okay, mal ein kurzer Blick, wie das deployment der Homepage funktioniert.</p>
</div>
<div class="paragraph">
<p>Im Verzeichnis des Homepage-Repos gibt es eine default.nix.
Diese wird per default importiert, wenn man die Funktion, geladen von <code>fetchGit</code>, aufruft.</p>
</div>
<div class="paragraph">
<p>Der relevante teil der default.nix:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight highlight-prismjs prismjs language-haskell"><code class="language-haskell" data-lang="haskell"><span class="token punctuation">{</span> <span class="token hvariable">pkgs</span> <span class="token operator">?</span> <span class="token hvariable">import</span> <span class="token operator">&lt;</span><span class="token hvariable">nixpkgs</span><span class="token operator">></span> <span class="token punctuation">{</span> <span class="token punctuation">}</span> <span class="token punctuation">}</span><span class="token operator">:</span>
<span class="token keyword">let</span>
  <span class="token hvariable">stdenv</span> <span class="token operator">=</span> <span class="token hvariable">pkgs</span><span class="token punctuation">.</span><span class="token hvariable">stdenv</span><span class="token punctuation">;</span>
  <span class="token hvariable">lib</span> <span class="token operator">=</span> <span class="token hvariable">pkgs</span><span class="token punctuation">.</span><span class="token hvariable">lib</span><span class="token punctuation">;</span>
  <span class="token hvariable">system</span> <span class="token operator">=</span> <span class="token hvariable">stdenv</span><span class="token punctuation">.</span><span class="token hvariable">hostPlatform</span><span class="token punctuation">.</span><span class="token hvariable">system</span><span class="token punctuation">;</span>

  <span class="token operator">...</span>

  <span class="token operator">#</span> <span class="token constant">This</span> <span class="token hvariable">import</span> <span class="token hvariable">the</span> <span class="token hvariable">build</span><span class="token operator">-</span><span class="token hvariable">function</span> <span class="token hvariable">for</span> <span class="token hvariable">homepage</span>
  <span class="token hvariable">homepage</span> <span class="token operator">=</span> <span class="token hvariable">pkgs</span><span class="token punctuation">.</span><span class="token hvariable">callPackage</span> <span class="token operator">./</span><span class="token hvariable">build</span><span class="token operator">/</span><span class="token hvariable">nix</span><span class="token operator">/</span><span class="token hvariable">homepage</span><span class="token punctuation">.</span><span class="token hvariable">nix</span><span class="token punctuation">;</span>

<span class="token keyword">in</span>
<span class="token punctuation">{</span>
  <span class="token operator">#</span> <span class="token hvariable">the</span> <span class="token hvariable">public</span> <span class="token keyword">instance</span>
  <span class="token hvariable">public</span> <span class="token operator">=</span> <span class="token hvariable">homepage</span> <span class="token punctuation">{</span>
    <span class="token hvariable">publicProtocoll</span> <span class="token operator">=</span> <span class="token string">"https"</span><span class="token punctuation">;</span>
    <span class="token hvariable">publicDomain</span> <span class="token operator">=</span> <span class="token string">"www.nerdhaltig.de"</span><span class="token punctuation">;</span>
    <span class="token hvariable">inherit</span> <span class="token hvariable">version</span><span class="token punctuation">;</span>
    <span class="token hvariable">inherit</span> <span class="token hvariable">versionPackages</span><span class="token punctuation">;</span>
    <span class="token hvariable">inherit</span> <span class="token hvariable">src</span><span class="token punctuation">;</span>
    <span class="token hvariable">inherit</span> <span class="token hvariable">srcYarn</span><span class="token punctuation">;</span>
  <span class="token punctuation">}</span><span class="token punctuation">;</span>

  <span class="token operator">#</span> <span class="token hvariable">the</span> <span class="token keyword">module</span> <span class="token hvariable">for</span> <span class="token hvariable">nixos</span>
  <span class="token operator">#</span> <span class="token hvariable">see</span> <span class="token hvariable">the</span> <span class="token operator">/</span><span class="token hvariable">docs</span> <span class="token hvariable">folder</span> <span class="token hvariable">on</span> <span class="token hvariable">how</span> <span class="token hvariable">to</span> <span class="token hvariable">use</span> <span class="token hvariable">it</span> <span class="token hvariable">on</span> <span class="token hvariable">nixos</span> <span class="token hvariable">based</span> <span class="token hvariable">systems</span>
  <span class="token keyword">module</span> <span class="token operator">=</span> <span class="token hvariable">import</span> <span class="token operator">./</span><span class="token hvariable">deployment</span><span class="token operator">/</span><span class="token keyword">module</span><span class="token punctuation">.</span><span class="token hvariable">nix</span><span class="token punctuation">;</span>

<span class="token punctuation">}</span></code></pre>
</div>
</div>
<div class="paragraph">
<p>d.h. die default.nix stelle eine Funktion <code>public</code> bereit, welche ein Package zurück gibt mit der gebauten Homepage.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_lösung_nix_channels">Lösung - Nix-Channels</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Also was tun um es einfacher zu machen ?</p>
</div>
<div class="paragraph">
<p>Die Lösung war einfacher als gedacht. Es ist möglich einfach das git-repo als nix-channel bereit zu stellen.</p>
</div>
<div class="paragraph">
<p>Was man dafür machen muss, ist auf dem Server selber folgenden Befehl aus zu führen:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight highlight-prismjs prismjs language-bash"><code class="language-bash" data-lang="bash">nix-channel --add https://gitlab.com/nerdhaltig/homepage/-/archive/main/homepage-main.tar.bz2 nerdhaltig</code></pre>
</div>
</div>
<div class="paragraph">
<p>Und den channel updaten:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight highlight-prismjs prismjs language-bash"><code class="language-bash" data-lang="bash">nix-channel --update nerdhaltig</code></pre>
</div>
</div>
<div class="paragraph">
<p>( Diese zwei Befehle habe ich dann in meine <a href="https://gitlab.com/nerdhaltig/server/-/blob/754801718e4dde3f7ad0ce05f3fe1b858af89458/deployment/switch.sh#L14">switch.sh</a> des Servers eingetragen, damit das automatisch beim deployment erledigt wird )</p>
</div>
<div class="paragraph">
<p>Jetzt muss nur noch die Konfiguration, welche die Homepage importiert, angepasst werden. Dies geschieht in der <a href="https://gitlab.com/nerdhaltig/server/-/blob/754801718e4dde3f7ad0ce05f3fe1b858af89458/nerdhaltig.nix#L3">nerdhaltig.nix</a> des servers.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight highlight-prismjs prismjs language-haskell"><code class="language-haskell" data-lang="haskell"><span class="token punctuation">{</span> <span class="token hvariable">config</span><span class="token punctuation">,</span> <span class="token hvariable">pkgs</span><span class="token punctuation">,</span> <span class="token hvariable">lib</span><span class="token punctuation">,</span> <span class="token operator">...</span> <span class="token punctuation">}</span><span class="token operator">:</span>
<span class="token keyword">let</span>
  <span class="token hvariable">nerdhaltig</span> <span class="token operator">=</span> <span class="token punctuation">(</span><span class="token hvariable">import</span> <span class="token operator">&lt;</span><span class="token hvariable">nerdhaltig</span><span class="token operator">></span> <span class="token punctuation">{</span> <span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token keyword">in</span>
<span class="token punctuation">{</span>
<span class="token operator">...</span></code></pre>
</div>
</div>
<div class="paragraph">
<p>Das war einfach, und funktioniert erstaunlich gut.
Wenn ich jetzt die Homepage anpasse, muss ich nur noch die <code>default.nix</code> im Homepage-Projekt anpassen ( neue Versionsnummer ) damit der hash der <code>default.nix</code> sich ändert und diese Änderung ein rebuild der Homepage in nixos auslöst.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_gelöste_probleme">Gelöste Probleme</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>✅ Es reicht nur noch die Homepage an zu passen</p>
</li>
<li>
<p>✅ Auslesen des letzten githash und Eintragen ins Server-Projekt nicht mehr notwendig</p>
</li>
<li>
<p>✅ Automatisch anlegen des channels durch den deployment-script</p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_probleme_mit_dieser_methode">Probleme mit dieser Methode</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ein Paar Probleme gibt es noch bei dieser Methode:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Die quellen der Homepage werden runter geladen und in das Channel-Verzeichnis geladen. D.H. die ganzen quellen liegen lokal rum.. ich kann damit leben, das würde aber eleganter gehen mit z.B. einem Nix-Cache-Server</p>
</li>
<li>
<p>Das war mit der "alten" Methode aber auch so ;)</p>
</li>
<li>
<p>Die Gitlab-CI muss noch angepasst werden, damit der Homepage-Projekt, die Pipeline des Server-Projektes auslöst</p>
</li>
</ul>
</div>
</div>
</div>