<div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Als Dunning-Kruger-Effekt bezeichnet man eine Spielart jener kognitiven Verzerrung, nach der inkompetente Menschen eine Tendenz zeigen, das eigene Können zu überschätzen und die Leistungen kompetenterer Menschen zu unterschätzen. (Stangl, 2022).</p>
</div>
<div class="paragraph">
<p>Dunning: "Wenn jemand inkompetent ist, dann kann er nicht wissen, dass er inkompetent ist."</p>
</div>
<div class="paragraph">
<p>Spannend, das bleibt mir im Hinterkopf wenn ich mal wieder mit Verschwörungserzählern zu tun habe 😜 und auch, dass ich nie die Kompetenz anderer unterschätzen sollte !</p>
</div>
<div class="paragraph">
<p>Oder auch ein Gedächtnis-Zitat aus einen meiner Lieblingsbücher:</p>
</div>
<div class="paragraph">
<p>"Du liegst immer falsch, ja immer, die anderen auch&#8230;&#8203; und manchmal, ja nur manchmal&#8230;&#8203; liegt man mal etwas weniger falsch"</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_fußnote_verwendete_literatur">Fußnote - Verwendete Literatur:</h3>
<div class="paragraph">
<p>Stangl, W. (2022, 20. September). Dunning-Kruger-Effekt – Online Lexikon für Psychologie und Pädagogik.
<a href="https://lexikon.stangl.eu/1500/dunning-kruger-effekt" class="bare">https://lexikon.stangl.eu/1500/dunning-kruger-effekt</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="_fußnote_verwendete_bilder">Fußnote - Verwendete Bilder:</h3>
<div class="paragraph">
<p>Titelbild <a href="https://unsplash.com/@ninjason?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Jason Leung</a> on <a href="https://unsplash.com/s/photos/psychology?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></p>
</div>
</div>