<div class="sect1">
<h2 id="_tldr">TLDR</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Neue Seite, vue3, vite, quasi. Ja, klar soweit ? 😼</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_happy_new_year">Happy new year</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Auf das dieses neue Jahr mehr Segelerfahrung bringt und ein paar Projekte fertig werden 🤭</p>
</div>
<div class="paragraph">
<p>( mehr Infos auf der Projekt-Seite )</p>
</div>
</div>
</div>