<div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Als Vorbereitung auf die Sensoren, die ich auf dem Boot nutzen will, wollte ich testen wie einfach [ESPHome](<a href="https://esphome.io/" class="bare">https://esphome.io/</a>) nutzbar ist. Ich hatte noch ein ESP6288 rum liegen und einen CS811 ( CO2 eVOC-Sensor ) in der Schublade.</p>
</div>
<div class="paragraph">
<p>Ich bin der Anleitung auf der ESPHome-Homepage gefolgt und es war überraschend einfach und funktionierte beim ersten Versuch, super. Es sei hier noch das spezielle Setup erwähnt, ich hab den docker-container in einer NixOS-AARCH64-VM auf meinen M1 genutzt&#8230;&#8203; also erschwerte Bedingungen</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_die_hardware">Die Hardware</h2>
<div class="sectionbody">

</div>
</div>
<div class="sect1">
<h2 id="_das_ding_mit_ssl_auf_dem_esp8266">Das ding mit SSL auf dem ESP8266</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Da der ESP aus dem öffentlichen Netz mit meinem MQTT-Broker redet, soll mein ESP natürlich verschlüsselt mit dem broker kommunizieren. Also nutze ich hier TLS.</p>
</div>
<div class="paragraph">
<p>Die aktuelle ESP-Library hat OpenSSL jedoch gedropt. Daher schlägt der bau fehl mit</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight highlight-prismjs prismjs language-shell"><code class="language-shell" data-lang="shell">/piolibs/ESPAsyncTCP-esphome/src/tcp_axtls.h:44:10: fatal error: include/ssl.h: No such <span class="token function">file</span> or directory</code></pre>
</div>
</div>
<div class="paragraph">
<p>Doof, nutzt man aber die esphome version aus dem 10.2021 funktioniert alles wie gewohnt</p>
</div>
<div class="paragraph">
<p>Hier mein docker-compose was ich nutze</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight highlight-prismjs prismjs language-yaml"><code class="language-yaml" data-lang="yaml"><span class="token key atrule">version</span><span class="token punctuation">:</span> <span class="token string">'3'</span>
<span class="token key atrule">services</span><span class="token punctuation">:</span>
  <span class="token key atrule">esphome</span><span class="token punctuation">:</span>
    <span class="token key atrule">container_name</span><span class="token punctuation">:</span> esphome

    <span class="token comment"># TLS for MQTT is not working in the latest-version</span>
    <span class="token comment">#image: esphome/esphome</span>
    <span class="token comment"># so we use this</span>
    <span class="token key atrule">image</span><span class="token punctuation">:</span> esphome/esphome<span class="token punctuation">:</span>2021.10.3

    <span class="token key atrule">volumes</span><span class="token punctuation">:</span>
      <span class="token punctuation">-</span> <span class="token string">"${PWD}:/config"</span>
      <span class="token punctuation">-</span> /etc/localtime<span class="token punctuation">:</span>/etc/localtime<span class="token punctuation">:</span>ro
      <span class="token comment">#- /dev/ttyUSB0:/dev/ttyUSB0</span>
    <span class="token key atrule">restart</span><span class="token punctuation">:</span> always
    <span class="token key atrule">privileged</span><span class="token punctuation">:</span> <span class="token boolean important">true</span>
    <span class="token key atrule">network_mode</span><span class="token punctuation">:</span> host</code></pre>
</div>
</div>
<div class="paragraph">
<p>und hier meine config für den Boot-Sensor-Test</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight highlight-prismjs prismjs language-yaml"><code class="language-yaml" data-lang="yaml"><span class="token comment"># docker-compose run esphome run boatsensora.yaml</span>

<span class="token key atrule">esphome</span><span class="token punctuation">:</span>
  <span class="token key atrule">name</span><span class="token punctuation">:</span> boatsensora

<span class="token key atrule">esp8266</span><span class="token punctuation">:</span>
  <span class="token key atrule">board</span><span class="token punctuation">:</span> nodemcuv2

<span class="token comment"># Enable logging</span>
<span class="token key atrule">logger</span><span class="token punctuation">:</span>
  <span class="token key atrule">level</span><span class="token punctuation">:</span> VERY_VERBOSE

<span class="token comment"># Enable Home Assistant API</span>
<span class="token comment"># we use MQTT, so we dont need this !</span>
<span class="token comment">#api:</span>
<span class="token comment">#  encryption:</span>
<span class="token comment">#    key: "oSrc/wJi6Ptdpye35G7q8tDKa8U3pfp5EjO0WuKPzC4="</span>

<span class="token key atrule">status_led</span><span class="token punctuation">:</span>
  <span class="token key atrule">pin</span><span class="token punctuation">:</span>
    <span class="token key atrule">number</span><span class="token punctuation">:</span> D4
    <span class="token key atrule">inverted</span><span class="token punctuation">:</span> <span class="token boolean important">true</span>

<span class="token key atrule">ota</span><span class="token punctuation">:</span>
  <span class="token key atrule">password</span><span class="token punctuation">:</span> <span class="token string">"e165ee63885258a593a4f05478eabdd5"</span>

<span class="token key atrule">wifi</span><span class="token punctuation">:</span>
  <span class="token key atrule">ssid</span><span class="token punctuation">:</span> <span class="token tag">!secret</span> wifi_ssid
  <span class="token key atrule">password</span><span class="token punctuation">:</span> <span class="token tag">!secret</span> wifi_password

  <span class="token comment"># Enable fallback hotspot (captive portal) in case wifi connection fails</span>
  <span class="token key atrule">ap</span><span class="token punctuation">:</span>
    <span class="token key atrule">ssid</span><span class="token punctuation">:</span> <span class="token string">"boatsensora"</span>
    <span class="token key atrule">password</span><span class="token punctuation">:</span> <span class="token string">"HaWf0cmBO31t"</span>

<span class="token key atrule">captive_portal</span><span class="token punctuation">:</span>

<span class="token comment">#switch:</span>
<span class="token comment">#  - platform: gpio</span>
<span class="token comment">#    name: "Living Room Dehumidifier"</span>
<span class="token comment">#    pin: 5</span>



<span class="token key atrule">mqtt</span><span class="token punctuation">:</span>
  <span class="token key atrule">client_id</span><span class="token punctuation">:</span> boatsensora
  <span class="token key atrule">broker</span><span class="token punctuation">:</span> mqtt.nerdhaltig.de
  <span class="token key atrule">port</span><span class="token punctuation">:</span> <span class="token number">8883</span>
  <span class="token key atrule">username</span><span class="token punctuation">:</span> boatsensora
  <span class="token key atrule">discovery</span><span class="token punctuation">:</span> <span class="token boolean important">false</span>
  <span class="token key atrule">reboot_timeout</span><span class="token punctuation">:</span> 15min
  <span class="token key atrule">password</span><span class="token punctuation">:</span> <span class="token tag">!secret</span> mqtt_boatsensora_password

<span class="token comment"># docker-compose run esphome boatsensora.yaml mqtt-fingerprint</span>
  <span class="token key atrule">ssl_fingerprints</span><span class="token punctuation">:</span>
    <span class="token punctuation">-</span> 254d80832ad9b94f10d23c1e39502c1d724009dd
    <span class="token punctuation">-</span> 98ddc662a9c5624614fac490cee03942f743f9c3
    <span class="token punctuation">-</span> 741536077160429de56173b968ce3520cf32d189
  <span class="token key atrule">topic_prefix</span><span class="token punctuation">:</span> sensors/boata

<span class="token comment"># Jep ich hab hier D0 absichtlich frei gelassen</span>
<span class="token key atrule">i2c</span><span class="token punctuation">:</span>
  <span class="token key atrule">sda</span><span class="token punctuation">:</span> D1
  <span class="token key atrule">scl</span><span class="token punctuation">:</span> D2
  <span class="token key atrule">scan</span><span class="token punctuation">:</span> <span class="token boolean important">true</span>

<span class="token key atrule">sensor</span><span class="token punctuation">:</span>
  <span class="token punctuation">-</span> <span class="token key atrule">platform</span><span class="token punctuation">:</span> wifi_signal
    <span class="token key atrule">name</span><span class="token punctuation">:</span> <span class="token string">"WiFi Signal Sensor"</span>
    <span class="token key atrule">update_interval</span><span class="token punctuation">:</span> 60s

  <span class="token punctuation">-</span> <span class="token key atrule">platform</span><span class="token punctuation">:</span> ccs811
    <span class="token key atrule">eco2</span><span class="token punctuation">:</span>
      <span class="token key atrule">name</span><span class="token punctuation">:</span> <span class="token string">"CCS811 eCO2 Value"</span>
    <span class="token key atrule">tvoc</span><span class="token punctuation">:</span>
      <span class="token key atrule">name</span><span class="token punctuation">:</span> <span class="token string">"CCS811 Total Volatile Organic Compound"</span>
    <span class="token key atrule">address</span><span class="token punctuation">:</span> <span class="token number">0x5A</span>
    <span class="token key atrule">baseline</span><span class="token punctuation">:</span> <span class="token number">0xB479</span>
    <span class="token key atrule">update_interval</span><span class="token punctuation">:</span> 60s</code></pre>
</div>
</div>
</div>
</div>