<div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://nixos.wiki/wiki/NixOS_on_ARM/UEFI" class="bare">https://nixos.wiki/wiki/NixOS_on_ARM/UEFI</a></p>
</div>
<div class="paragraph">
<p><a href="https://hydra.nixos.org/job/nixos/trunk-combined/nixos.iso_minimal_new_kernel.aarch64-linux" class="bare">https://hydra.nixos.org/job/nixos/trunk-combined/nixos.iso_minimal_new_kernel.aarch64-linux</a></p>
</div>
</div>
</div>