<div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Seit kurzen bin ich besitzer eines Ender3S. Super gerät, auspacken, das gate auf die Platform geschraubt, einsatzbereit.</p>
</div>
<div class="paragraph">
<p>Nachdem ich mit PLA einiges gedruckt habe und einige Experimente gemacht habe, gab es so ein Druckwunsch aus der Family. Eine Sensorhalterrung für einen Sonargeber.</p>
</div>
<div class="paragraph">
<p>Da dies etwas mehr aushalten muss.</p>
</div>
</div>
</div>