<div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Dies Homepage ist eine Standard vue3-app erstellt mit.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight highlight-prismjs prismjs language-javascript"><code class="language-javascript" data-lang="javascript">yarn create vite nerdhaltic <span class="token operator">--</span>template vue<span class="token operator">-</span>ts
yarn add @types<span class="token operator">/</span>node</code></pre>
</div>
</div>
</div>
</div>