<template>
  <div class="row">
    <div class="col-12">
      <div class="column items-center q-pa-md q-gutter-sm">
        <q-card class="full-width">
          <q-img :src="current.metadata?.titleimage" height="300px">
            <div class="absolute-bottom text-h6">{{ current.metadata?.title }}</div>
          </q-img>
        </q-card>
        <div class="col-12">
          <DocumentCards :entrys="current.cards" :small="true"></DocumentCards>
        </div>

        <q-card class="full-width">
          <div class="col-12 items-center q-pa-md q-gutter-sm">
            <span v-html="current.rawHtml"></span>
          </div>
        </q-card>
      </div>
    </div>
  </div>
</template>


<script lang="ts" setup>
import { onMounted, reactive, watch } from "vue";
import { AdocMetadata } from "~/functions/fileMetadata";
import { LoadAsciiDoc } from "~/functions/api";
import { useRoute, useRouter } from "vue-router";
import { folders } from "~/functions/adocs";

const router = useRouter();
const route = useRoute();


const current = reactive({
  rawHtml: "",
  metadata: {} as AdocMetadata,
  cards: [] as AdocMetadata[]
} as {
  rawHtml: string | undefined
  metadata: AdocMetadata | undefined
  cards: AdocMetadata[]
});

async function refreshComponent() {
  // we remove the /content from the route
  let path = route.path.replace("/content", "");
  path = path + ".adoc";


  [current.metadata, current.rawHtml] = await LoadAsciiDoc(path);

  // if cards-folder is set, we load the cards
  current.cards = [] as AdocMetadata[]
  if (current.metadata?.cardsfolder !== undefined && current.metadata?.cardsfolder !== "") {
    // get cards
    let cardList = await folders.Get(current.metadata.cardsfolder)
    current.cards = cardList.List(current.metadata.cards)
  }
}

onMounted(refreshComponent);
watch(() => route.path, refreshComponent)

</script>