<template>
  <DocumentCards :entrys="current.entrys" :small="false"></DocumentCards>
</template>


<script lang="ts" setup>
import { onMounted, onUpdated, reactive, watch } from "vue";
import { useRoute, useRouter } from "vue-router";
import { folders } from "~/functions/adocs";
import { GetListOfAsciiDocs } from "~/functions/api";
import { AdocMetadata } from "~/functions/fileMetadata";

const router = useRouter();
const route = useRoute();



const current = reactive({
  entrys: [],
  pathsuffix: "/content"
} as {
  entrys: AdocMetadata[]
  pathsuffix: string
});

const emit = defineEmits(["update:modelValue"]);

function toLocaleDate(datestring: number | undefined): string {
  if (datestring === undefined) return ""

  var entryDate: string;

  let d = new Date(datestring);
  const options = {
    weekday: "long",
    year: "numeric",
    month: "long",
    day: "numeric",
  } as Intl.DateTimeFormatOptions;
  return d.toLocaleDateString("de-DE", options);
};

async function LoadEntrys() {
  // we remove the /list from the route

  let path = route.path
  path = route.path.replace("/list", "")

  let docFolder = await folders.Get(path)
  current.entrys = docFolder.List(docFolder.IDs())


  //current.entrys = await GetListOfAsciiDocs(path)
}

async function refreshComponent() {
  await LoadEntrys()

}

onMounted(refreshComponent);
watch(() => route.path, refreshComponent)
//onUpdated(refreshComponent);
</script>

 