<template>
    <div class="row">
        <div
            :class="props.small ? `col-sm-3 col-xs-6` : `col-sm-6 col-xs-12`"
            v-for="entry of props.entrys"
            :key="entry.filename"
        >
            <div class="column items-center q-pa-md q-gutter-sm">
                <router-link
                    :to="entry.recursive ? `${entry.path}/${entry.filename}/list` : `${entry.path}/${entry.filename}/content`"
                    class="column items-center q-pa-md q-gutter-sm full-width"
                    style="text-decoration: none; color: inherit"
                >
                    <q-card class="full-width">
                        <q-img :src="entry.titleimage" height="150px">
                            <q-badge
                                v-if="entry.state !== undefined && entry.state !== ''"
                                class="q-mx-xs"
                                :color="entry.statecolor"
                                :label="entry.state"
                            />
                            <div class="absolute-bottom text-h6">{{ entry.title }}</div>
                        </q-img>

                        <q-card-section>{{ entry.description }}</q-card-section>

                        <q-card-section>
                            <div class="row justify-between">
                                {{ toLocaleDate(entry.date) }}
                                <q-space />

                                <q-space />
                                <div class="col-auto">
                                    <div style="width: 100%">
                                        <tag-list v-model="entry.tags" />
                                    </div>
                                </div>
                            </div>
                        </q-card-section>
                    </q-card>
                </router-link>
            </div>
        </div>
    </div>
</template>



<script lang="ts" setup>
import { onMounted, onUpdated, reactive, watch } from "vue";
import { useRoute, useRouter } from "vue-router";
import { folders } from "~/functions/adocs";
import { GetListOfAsciiDocs } from "~/functions/api";
import { AdocMetadata } from "~/functions/fileMetadata";


interface Props {
    entrys: AdocMetadata[]
    small: boolean
}

const props = withDefaults(defineProps<Props>(), {
    small: false
});

const current = reactive({
} as {
    });


function toLocaleDate(datestring: number | undefined): string {
    if (datestring === undefined || datestring === null || isNaN(datestring)) return ""

    var entryDate: string;

    let d = new Date(datestring);
    const options = {
        weekday: "long",
        year: "numeric",
        month: "long",
        day: "numeric",
    } as Intl.DateTimeFormatOptions;
    return d.toLocaleDateString("de-DE", options);
};



</script>

 