
<template>Index.vue</template>
 



<script lang="ts">
import { defineComponent, onMounted, ref } from "vue";

export default defineComponent({
  components: {},
  setup() {
    return {};
  },
});
</script>