<template>
  <div class="col-auto">
    <q-badge
      class="q-ma-xs"
      v-for="tag of current.tags"
      :key="tag.filename"
      :color="tag.color"
      :label="tag.title"
    />
  </div>
</template>


<script lang="ts" setup>
import {
  fasPlus,
  fasMinus,
  fasBookmark,
  fasMagnifyingGlass,
} from "@quasar/extras/fontawesome-v6";
import { onMounted, onUpdated, PropType, reactive, ref, watch } from "vue";
import { folders } from "~/functions/adocs";
import { AdocMetadata } from "~/functions/fileMetadata";
import { GetTags, PageTag } from "~/functions/tags";



interface Props {
  modelValue?: string[];
}

const props = withDefaults(defineProps<Props>(), {});

const current = reactive({
  tags: []
} as {
  tags: AdocMetadata[]
});

async function refreshComponent() {
  if (props.modelValue === undefined) return;

  let tagFolder = await folders.Get("/atags")
  current.tags = tagFolder.List(props.modelValue)

}

onMounted(refreshComponent);
watch(() => props.modelValue, refreshComponent);
//watch(() => props.section, refreshComponent);

</script>
 