.admonitionblock table {
	margin-left: 0px
}

.admonitionblock td {
	text-align: left;
	font-size: 28px;
}

.admonitionblock td.icon {
	width: 80px;
	text-align: center;
	color: #19407c
}

.admonitionblock table td.content {
	padding-left: 1.125em;
	padding-right: 1.25em;
	border-left: 1px solid #dddddf;
}

.stretch {
	flex: 0 0 auto;
}