.stretch {
  width: 100%;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

body {
  background: #fff;
  color: rgba(0, 0, 0, 0.8);
  padding: 0;
  margin: 0;
  font-family: "Noto Serif", "DejaVu Serif", serif;
  line-height: 1;
  position: relative;
  cursor: auto;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  word-wrap: anywhere;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.paragraph {
  font-size: 18px;
}

h1,
h2,
h3,
#toctitle,
.sidebarblock > .content > .title,
h4,
h5,
h6 {
  font-family: "Open Sans", "DejaVu Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #0247db;
  text-rendering: optimizeLegibility;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.0125em;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3,
#toctitle,
.sidebarblock > .content > .title {
  font-size: 1.375em;
}
h4,
h5 {
  font-size: 1.125em;
}
h6 {
  font-size: 1em;
}
h1 small,
h2 small,
h3 small,
#toctitle small,
.sidebarblock > .content > .title small,
h4 small,
h5 small,
h6 small {
  font-size: 60%;
  line-height: 0;
}

p.tableblock:last-child {
  margin-bottom: 0;
}
td.tableblock > .content {
  margin-bottom: 1.25em;
  word-wrap: anywhere;
}
td.tableblock > .content > :last-child {
  margin-bottom: -1.25em;
}
table.tableblock,
th.tableblock,
td.tableblock {
  border: 0 solid #666666;
}
table {
  margin-bottom: 1.25em;
  word-wrap: normal;
}
table thead tr th,
table thead tr td,
table tfoot tr th,
table tfoot tr td {
  padding: 0.5em 0.625em 0.625em;
  font-size: inherit;
  text-align: left;
}
table tr th,
table tr td {
  padding: 0.5625em 0.625em;
  font-size: inherit;
}
table tr.even,
table tr.alt {
  background: #f8f8f7;
}
table thead tr th,
table tfoot tr th,
table tbody tr td,
table tr td,
table tfoot tr td {
  line-height: 1.6;
}
table.grid-all > * > tr > * {
  border-width: 1px;
}
table.grid-cols > * > tr > * {
  border-width: 0 1px;
}
table.grid-rows > * > tr > * {
  border-width: 1px 0;
}
table.frame-all {
  border-width: 1px;
}
table.frame-ends {
  border-width: 1px 0;
}
table.frame-sides {
  border-width: 0 1px;
}
table.frame-none > colgroup + * > :first-child > *,
table.frame-sides > colgroup + * > :first-child > * {
  border-top-width: 0;
}
table.frame-none > :last-child > :last-child > *,
table.frame-sides > :last-child > :last-child > * {
  border-bottom-width: 0;
}
table.frame-none > * > tr > :first-child,
table.frame-ends > * > tr > :first-child {
  border-left-width: 0;
}
table.frame-none > * > tr > :last-child,
table.frame-ends > * > tr > :last-child {
  border-right-width: 0;
}
table.stripes-all > * > tr,
table.stripes-odd > * > tr:nth-of-type(odd),
table.stripes-even > * > tr:nth-of-type(even),
table.stripes-hover > * > tr:hover {
  background: #f8f8f7;
}
th.halign-left,
td.halign-left {
  text-align: left;
}
th.halign-right,
td.halign-right {
  text-align: right;
}
th.halign-center,
td.halign-center {
  text-align: center;
}
th.valign-top,
td.valign-top {
  vertical-align: top;
}
th.valign-bottom,
td.valign-bottom {
  vertical-align: bottom;
}
th.valign-middle,
td.valign-middle {
  vertical-align: middle;
}
table thead th,
table tfoot th {
  font-weight: bold;
}
tbody tr th {
  background: #f7f8f7;
}
tbody tr th,
tbody tr th p,
tfoot tr th,
tfoot tr th p {
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}
p.tableblock > code:only-child {
  background: none;
  padding: 0;
}
p.tableblock {
  font-size: 1em;
}
