<div class="sect1">
<h2 id="_hinweise">Hinweise</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>Es können auch jegliche andere LED-Bänder verwendet werden, auch WS2812X oder WS2813 sollten gehen ( ist ein setting in ESPHome )</p>
</li>
<li>
<p>Sollte ein anderes Band gekauft werden, bitte darauf achten das es 144LED/m sind, sieht besser aus :)</p>
</li>
</ul>
</div>
</div>
</div>