<div id="preamble">
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tr>
<td class="icon">
<div class="title">💁</div>
</td>
<td class="content">
Die hier angegebennen Preise sind Preise zu den Zeitpunkt an dem ich die Bauteile gekauft habe. Das kann je nach Zeitpunkt und Hersteller variieren
</td>
</tr>
</table>
</div>
<div class="paragraph">
<p>Mit folgenden Kosten ist zu rechnen.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Preisliste</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Bauteil</th>
<th class="tableblock halign-left valign-top">Kaufpreis</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ESP8266</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">12,70</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Netzteil 5V 8A</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">19,30</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">WS8212B Led-Streifen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">18,88</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diffusorfolie oder Diffuses Plexiglas</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">offen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">3D-Filament PETG</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">berechnung offen</p></td>
</tr>
</tbody>
</table>
</div>
</div>