<div id="preamble">
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tr>
<td class="icon">
<div class="title">💁</div>
</td>
<td class="content">
V2 war schon viel besser und reichte aus für die ersten Tests
</td>
</tr>
</table>
</div>
<table class="tableblock frame-all grid-rows stretch">
<caption class="title">Table 1. Vergleich</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vorteile</th>
<th class="tableblock halign-left valign-top">Nachteile</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>✅ Austausch der Einzelnen Teile ( Sockel, Buchstabe, Bars )</p>
</li>
<li>
<p>✅ dadurch einfacher einbau des LED-Streifen</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>❌ Kabel müssen im Sockel bei eingebautem LED-Streifen angeschlossen werden</p>
</li>
<li>
<p>❌ LEDs leuchten Direkt nach außen, dadurch sind die einzelnen LED&#8217;s sichtbar und somit kein Homogenes Licht</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect1">
<h2 id="_aufbau">Aufbau</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_steckverbindung">Steckverbindung</h3>
<div class="paragraph">
<p>Als erste neuerung in v2 sind die connectoren. Diese verbinden den Sockel mit dem Logo-Elementen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="/img/projects/statelogo/v2_connector.jpg" alt="v2 connector">
</div>
</div>
<div class="admonitionblock note">
<table>
<tr>
<td class="icon">
<div class="title">💁</div>
</td>
<td class="content">
Der "Stecker" is 1mm kleiner als die Buchse. Wenn man bei dem Druck beide Elemente gleich groß druckt, kann man diese so gut wie gar nicht zusammen stecken. ( oberer Teil des Bildes )
</td>
</tr>
</table>
</div>
</div>
<div class="sect2">
<h3 id="_bauteile">Bauteile</h3>
<div class="imageblock">
<div class="content">
<img src="/img/projects/statelogo/v2_letter.jpg" alt="v2 letter">
</div>
</div>
<div class="paragraph">
<p>Der Buchstabe wurde hier mit wesentlich besseren Werten gedruckt.</p>
</div>
</div>
<div class="sect2">
<h3 id="_elektroniktest">Elektroniktest</h3>
<div class="imageblock">
<div class="content">
<img src="/img/projects/statelogo/v2_electronictest.jpg" alt="v2 electronictest">
</div>
</div>
<div class="paragraph">
<p>Da es jetzt einfach ist, den LED-Streifen in den Balken ein zu bauen, konnte ich die ersten Tests mit der Software und dem ESP32 durch führen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="/img/projects/statelogo/v2_leds.jpg" alt="v2 leds">
</div>
</div>
</div>
<div class="sect2">
<h3 id="_fails">Fails</h3>
<div class="imageblock">
<div class="content">
<img src="/img/projects/statelogo/v2_bar_broken.jpg" alt="v2 bar broken">
</div>
</div>
<div class="paragraph">
<p>Hier habe ich versucht die Front-Seite des Balkens nach unten zu Drucken, was bedeutet, dass der Holraum des Balkens mit stützmaterial gefüllt wird, was sich sehr schwer entfernen lies ( eher gar nicht )</p>
</div>
</div>
</div>
</div>