<div id="preamble">
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tr>
<td class="icon">
<div class="title">💁</div>
</td>
<td class="content">
Dies ist eine alte Version des Logos und nur der vollständigkeit halber hier
</td>
</tr>
</table>
</div>
<table class="tableblock frame-all grid-rows stretch">
<caption class="title">Table 1. Vergleich</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vorteile</th>
<th class="tableblock halign-left valign-top">Nachteile</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>✅ In-Place-Druck ( nur ein Objekt muss gedruckt werden)</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>❌ der Einbau der Kabel + LED-Leiste war zu kompliziert</p>
</li>
<li>
<p>❌ Updates einzelner Teile geht leider nicht</p>
</li>
<li>
<p>❌ Druck dauert sehr lange, kann man nicht auf mehrere Tage aufteilen</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect1">
<h2 id="_bilder">Bilder</h2>
<div class="sectionbody">
<div class="imageblock">
<div class="content">
<img src="/img/projects/statelogo/v1.jpg" alt="v1">
</div>
</div>
<div class="admonitionblock note">
<table>
<tr>
<td class="icon">
<div class="title">💁</div>
</td>
<td class="content">
Wie man auf den Bildern sieht, wurde hier mit viel zu viel Tempertur gedruckt, auch beim Einbau habe ich fest gestellt das diese Form eher unpraktisch ist.
</td>
</tr>
</table>
</div>
<div class="imageblock">
<div class="content">
<img src="/img/projects/statelogo/v1_sockel.jpg" alt="v1 sockel">
</div>
</div>
</div>
</div>