
<template>
  <div class="row">
    <div class="col-md-2 col-sm-3 col-xs-12">
      <div class="column items-center q-pa-md q-gutter-sm">
        <q-avatar size="150px">
          <img src="/img/Avatar.png" />
        </q-avatar>
        <div class="text-h4">Nerdhaltig</div>
        <div class="text-overline text-weight-light">Bitlastige Ballaststoffe</div>

        <!-- The side menu ( only visible when bigger than xs )-->
        <div class="gt-xs" style="width: 100%">
          <q-tabs
            vertical
            class="bg-primary text-white"
            active-bg-color="secondary"
            no-caps
            inline-label
          >
            <q-route-tab
              name="blog"
              :icon="fasBlog"
              label="Blog"
              style="justify-content: left"
              to="/adocs/blog/overview/list"
            />
            <q-route-tab
              name="projects"
              :icon="fasHourglass"
              label="Projects"
              style="justify-content: left"
              to="/adocs/projects/active/list"
            />
          </q-tabs>
        </div>
        <div class="gt-xs" style="width: 100%">
          <tag-list v-model="current.tags" />
        </div>
      </div>
    </div>

    <div class="col-12 xs" style="width: 100%;">
      <q-tabs class="bg-primary text-white" active-bg-color="secondary" no-caps inline-label>
        <q-route-tab name="blog" :icon="fasBlog" label="Blog" to="/adocs/blog/overview/list" />
        <q-route-tab
          name="projects"
          :icon="fasHourglass"
          label="Projects"
          to="/adocs/projects/active/list"
        />
      </q-tabs>
    </div>

    <div class="col-sm-8 col-xs-12">
      <router-view />
    </div>
  </div>
</template>
 



<script lang="ts" setup>
import axios, { AxiosResponse } from 'axios';
import { useQuasar } from "quasar";
import { onMounted, reactive } from "vue";
import { RouteRecord } from 'vue-router';
import { GetAllTagIDs, LoadAllTags, PageTag } from "./functions/tags";
import { fasBlog, fasHourglass } from "@quasar/extras/fontawesome-v6";
import { folders } from './functions/adocs';

const current = reactive({
  tags: []
} as {
  tags: string[]
});

const $q = useQuasar();

$q.dark.set(true);

async function LoadEntrys() {

}

async function refreshComponent() {

  // load tags
  let tagfolder = await folders.Get("/atags")
  current.tags = tagfolder.IDs()


  // load hardwarelist
  let hwfolder = await folders.Get("/ahardware")

  await LoadEntrys()
}

onMounted(refreshComponent);
//watch(() => props.type, refreshComponent);
//watch(() => props.section, refreshComponent);







</script>